.aboutStyle {
  color: "white";
  background: #2d2d2d;
  font-family: "Century Gothic";    
}

.bannerStyle{
    position: fixed;
    height: 50px;
    background-color: #171616;
    width: 100%;
    font-family: "Century Gothic";
}

.body{
    margin: 0px;
}

.a{
    display: block;
    color: white;
}

.a:hover{
    color: red;
    background-color: white;
}